
.signup-page{
    padding-top: 70px;
}
.signup-title {
    text-align: center;
    font-size: 30px;
    color: #2E4C6d;
}

.signup-form {
    width: 100%;
    margin: auto;
}

@media (min-width:768px){   
.signup-form {
    width: 500px;
    margin: auto;
}
}

.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
    display: block;
    width: 100%;
    margin-top: 10px;
}
/* Yukarıda .signup-form sınıfının genişliğini 500px yaptık ve hemen altında da labelları, tipi checkbox
olmayan inputları ve select etiketlerinin genişliğini de formun genişliği olan 500px olarak ayarlasın
istedik. */
.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    margin-top: 20px;
}
/* Yukarıda ise .signup-form sınıfının altında tipi checkbox olan tüm inputları ve inputların hemen ardından 
gelen ilk label etiketini inline-block yap ve genişliklerini de auto yap diyoruz. */
.signup-form button[type="submit"] {
    display: block;
    margin-top: 15px;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 2px solid #ccc;
    padding: 10px 15px;
}


.signup-form input:not([type="checkbox"]):focus,
.signup-form select:focus {
    outline:none;
    border: 2px solid #ccb6a1;
    background-color: #ccc4bc;
}

/* .signup-form input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #2E4C6d;
    vertical-align: bottom;
    border-radius: 50%;
}
.signup-form input[type="checkbox"]:hover {
    background: gray;
}

.signup-form input[type="checkbox"]:checked {
    background: #FC997C;
} */

/* Yukarıda checkbox için yapılan stil işlemleri varsayılan checkbox görünümünü
istemediğimiz de checkbox etiketine istediğimiz bir stil vermek için yapılmış 
bir örnektir.  */